In [8]:
import pandas as pd
sales= pd.read_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-4\data\store.csv')

In [16]:
sales.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,NoPromo
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,22.0,2012.0,NoPromo
4,5,a,a,29910.0,4.0,2015.0,0,22.0,2012.0,NoPromo

In [17]:
sales.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000
mean,558.00000,5390.358744,7.470852,2009.091480,0.512108,22.817040,2011.878924
std,322.01708,7657.973705,2.677756,5.155105,0.500078,10.147329,1.203919
min,1.00000,0.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,710.000000,6.000000,2008.000000,0.000000,22.000000,2012.000000
50%,558.00000,2320.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6875.000000,9.000000,2011.000000,1.000000,22.000000,2012.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

In [10]:
sales.shape

(1115, 10)

In [11]:
sales.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [12]:
sales.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [18]:


# Handling CompetitionDistance (impute with 0)
sales['CompetitionDistance'].fillna(0, inplace=True)

# Handling CompetitionOpenSinceMonth and CompetitionOpenSinceYear (impute with median)
sales['CompetitionOpenSinceMonth'].fillna(sales['CompetitionOpenSinceMonth'].median(), inplace=True)
sales['CompetitionOpenSinceYear'].fillna(sales['CompetitionOpenSinceYear'].median(), inplace=True)

# Handling Promo2SinceWeek and Promo2SinceYear (impute with median)
sales['Promo2SinceWeek'].fillna(sales['Promo2SinceWeek'].median(), inplace=True)
sales['Promo2SinceYear'].fillna(sales['Promo2SinceYear'].median(), inplace=True)

# Handling PromoInterval (impute with a placeholder)
sales['PromoInterval'].fillna('NoPromo', inplace=True)

C:\Users\Yibabe\AppData\Local\Temp\ipykernel_6384\2364122296.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['CompetitionDistance'].fillna(0, inplace=True)
C:\Users\Yibabe\AppData\Local\Temp\ipykernel_6384\2364122296.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['CompetitionOpenSinceMonth'].fillna(sales['CompetitionOpenSinceMonth'].median(), inplace=True)
C:\Users\Yibabe\AppData\Local\Temp\ipykernel_6384\2364122296.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['CompetitionOpenSinceYear'].fillna(sales['CompetitionOpenSinceYear'].median(), inplace=True)
C:\Users\Yibabe\AppData\Local\Temp\ipykernel_6384\2364122296.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Promo2SinceWeek'].fillna(sales['Promo2SinceWeek'].median(), inplace=True)
C:\Users\Yibabe\AppData\Local\Temp\ipykernel_6384\2364122296.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Promo2SinceYear'].fillna(sales['Promo2SinceYear'].median(), inplace=True)

In [20]:
sales1 =sales

In [21]:
sales1.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,NoPromo
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,22.0,2012.0,NoPromo
4,5,a,a,29910.0,4.0,2015.0,0,22.0,2012.0,NoPromo

In [23]:
sales1.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000
mean,558.00000,5390.358744,7.470852,2009.091480,0.512108,22.817040,2011.878924
std,322.01708,7657.973705,2.677756,5.155105,0.500078,10.147329,1.203919
min,1.00000,0.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,710.000000,6.000000,2008.000000,0.000000,22.000000,2012.000000
50%,558.00000,2320.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6875.000000,9.000000,2011.000000,1.000000,22.000000,2012.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000